# Bytecode / caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/ 
env/
.venv/

# Environment
.env
.env.*

# Packaging 
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editor / OS Files
.vscode/
.idea/

# MacOs / Windows specific files
.DS_Store
Thumbs.db


# Logs / DB
*.log
*.sqlite3